<footer>
    <img src="/static/SVG/bottombar.svg" alt="Bottom bar">
    <nav>
        <ul>
            <li>
                <a href="#"><img src="/static/SVG/friends.svg" alt="Friends"></a>
            </li>
            <li>
                <a href="/main/"><img src="/static/SVG/home.svg" alt="Home"></a>
            </li>
            <li>
                <a href="#"><img src="/static/SVG/profile.svg" alt="Profile"></a>
            </li>
        </ul>
    </nav>
</footer>