<header>
    <nav>
        <ul>
            <li><a href="/main/gametimes">View gametimes</a></li>
            <li><a href="/main/players">View players</a></li>
            <li><a href="/main/matches">Match me!</a></li>
        </ul>
    </nav>
</header>