<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head.ejs') -%>
</head>

<body class="ho">


    <%- include('layouts/header.ejs') -%>
        <h1>
            What would you like to do?
        </h1>
        <form action="#">
            <a href="/main/gametimes">View my gametimes</a>
            <a href="/main/players">View players</a>
            <a href="/main/match">Match me!</a>
        </form>
        <%- include('layouts/footer.ejs') -%>
</body>

</html>