<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head.ejs') -%>
</head>

<body class="lo">

    <%- include('layouts/header.ejs') -%>
        <h1>
            Sign in to your steam account
        </h1>
        <form action="#">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Password">
            <a href="/main">Sign in</a>
        </form>

        <%- include('layouts/footer.ejs') -%>
</body>

</html>