    body {
        margin: 35% auto 0;
        background-image: url("/static/SVG/bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #D8D8D8;
        font-family: arial;
        text-align: center;
    }
    
    h1 {
        font-size: 32px;
        width: 80%;
        margin: 20px auto;
    }
    
    header ul {
        list-style: none;
        display: flex;
        position: absolute;
        z-index: 1000;
        bottom: 5px;
        right: 0;
        width: 100%;
        justify-content: space-around;
    }
    
    form {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    input,
    form a {
        height: 50px;
        width: 70%;
        border-radius: 10px;
        margin: auto;
        border: none;
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
        box-shadow: 3px 3px 4px 1px #000000;
    }
    
    form a {
        display: block;
        background-color: #AB76CE;
        color: #D8D8D8;
        width: 50%;
        padding: 10px 15px;
        height: auto;
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
    }
    
    .ho a {
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    
    .ho a:nth-of-type(2) {
        margin-bottom: 30px;
    }